@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  background-color: #fafafa;
}

input::file-selector-button {
  padding: 0.5em;
  background: #ff0096;
  color: white;
  border: none;
  cursor: pointer;
}

/*
input::file-selector-button:hover {
  background: #ff0096;
}
*/

.loader {
  border: 16px solid #b4b4b4;
  border-top: 16px solid black;
  border-radius: 50%;
  width: 5rem;
  height: 5rem;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
